body {
  background-color: #fefaf8 !important;
  color: #f13434 !important;
}

.skip-navigation {
  background-color: #f13434 !important;
}

.site-masthead h2 {
  color: #644b4b !important;
}

.post-date {
  color: #644b4b !important;
}

.post-content {
  color: #0b0404 !important;
}


#search__input::-webkit-input-placeholder {
  color: #644b4b !important;
}

#search__input::-moz-placeholder {
  color: #644b4b !important;
}

#search__input:-ms-input-placeholder {
  color: #644b4b !important;
}

#search__input:-moz-placeholder {
  color: #644b4b !important;
}